body {
  margin: 0;
  padding: 0;
}
body, html, #app {
  height: 100%;
}
.page {
  height: 100%;
  display: flex;
  padding: 10px 0;
}
.map-container {
  position: relative;
  height: 100%;
  width: 100%;
  flex: 1;
}
.code-container {
  min-width: 0px;
}
.el-menu-item {
  user-select: none;
}
.control-box {
  position: absolute;
  bottom: 30px;
  right: 30px;
  background-color: #fff;
  border-radius: 12px;
  padding: 16px 20px;
}
.control-box p {
  margin: 4px 0;
  font-size: 14px;
}